html {
  overflow: hidden;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,27,65,1) 100%);
  background-attachment: fixed;
  background-position:center;
  color: white;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
  height: 100%;
  overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}

h1,h2,h3,h4,h5,h6,button{
  margin: 0;
}

.side-by-side{
  margin-bottom: 20px;
  display: flex;
  img{
    width: 50%;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
  }
}
.centered {
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0%{opacity: 0; transform: translate(0px,50px)}
  100%{opacity: 100%;}
}

a{
  color: white;
  text-decoration: none;
}

.card{
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.3s;
  img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
  }
  text-decoration: none;
  &:hover{
    background-color:rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }
}
  
.gallery{
    [data-tab]{
        display: none;
    }
    &[data-currenttab=professional] [data-tab=professional],
    &[data-currenttab=projects] [data-tab=projects],
    &[data-currenttab=leadership] [data-tab=leadership],
    &[data-currenttab=classes] [data-tab=classes]
    {
        display: block;
    }
    button[data-active=true]{
        text-decoration: underline;
    }
    button{
      border: none;
      padding: 1rem;
      font-size: 1em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      border-radius: 0.5rem;
      color: white;
      margin: 0;
      transition: background-color 0.5s, border-radius 0.3s;
      &:hover{
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
}

nav {
  display: flex;
  margin-bottom: 1.5rem;
  .name {
    font-size: 1.5rem;
  }
  .links {
    margin-left: auto;
    i {
      font-size: 1.5rem;
      padding: 0 0.3rem;
    } 
  }
}

footer {
  height: 3rem;
}