@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap');


body {
  font-family: 'Lato', 'Roboto', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,27,65,1) 100%);
  background-attachment: fixed;
  background-position:center;
  color: white;
  margin: 0 auto;
  padding: 2rem calc(max(10px, 5vw));
}

span {
  font-size: 0.8rem;
}

body::-webkit-scrollbar {
  display: none;
}

h1,h2,h3,h4,h5,h6,button{
  margin: 0;
}
.centered {
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0%{opacity: 0; transform: translate(0px,50px)}
  100%{opacity: 100%;}
}

a{
  color: white;
  text-decoration: none;
}
.card{
  max-width: 38rem;
  margin: 0 auto 20px auto;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.3s;
  img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
  }
  text-decoration: none;
  &:hover{
    background-color:rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }
}
.content {
  min-height: calc(100vh - 9rem);
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featured {
  border-radius: 1.5rem;
  display: inline-block;
  width: 13rem;
  margin: 20px;
  background-color: #000051;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  img {
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 1.3rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  transition: background-color 0.5s, transform 0.3s;
  &:hover{
    background-color:#000065;
    transform: scale(1.03);
  }
}

nav {
  display: flex;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  // line at the bottom
  border-bottom: 2px solid white;
  &[center="true"] {
    border-bottom: none;
    padding-bottom: 0;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .links {
    margin: auto 0 auto auto;
    font-size: 1.2rem;
    a {
      padding: 0 0.3rem;
      i {
        padding-right: 0.3rem;
      }
    } 
    &[center="true"] {
      padding-bottom: 0.75rem;
      margin: auto;
      border-bottom: 2px solid white;
      font-size: 1.5rem;
      a {
        padding: 0 0.3rem;
        i {
          padding-right: 0.3rem;
        }
      } 
    }
  }
  .drawer {
    display: none;
  }
  .drawer-button {
    display: none;
  }
}

main.centered {
  margin-top: 30px;
}

footer {
  margin-top: 2rem;
  height: 5rem;
  .copyright {
    margin: 1rem 0;
  }
  i {
    font-size: 1.5rem;
    padding: 0 0.3rem;
  }
}

.index-header {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  h2, h3 {
    margin: 10px;
  }
  h1 {
    margin: 1rem 0px;
  }
}

.profile {
  display: flex;
  p {
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
  }
  // grid-template-columns: auto auto;
  // div, p {
  //   display: inline;
  // }
}


img.profile-pic{
  width: 50vw;
  margin-top: 1rem;
  max-width: 10rem;
  border-radius: 50%;
}

.time {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.page-content {
  a{
    text-decoration: underline;
  }
  line-height: 1.3rem;
  img {
    max-width: 600px;
  }
}
.side-by-side{
  margin-bottom: 20px;
  display: flex;
  img{
    width: 50%;
    border-radius: 5px;
    margin: 0px 10px;
    object-fit: contain
  }
}

@media (max-width: 760px) {
  .profile {
    display: block;
  }
  .side-by-side{
    display: block;
    img{
      display: block;
      width: 100%;
      max-width: 250px;
      margin: auto;
    }
  }
}
.drawer-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: -1;
  display: none;
}

@media (max-width: 800px) {
  nav {
    .links {
      display: none;
    }
    .drawer-bg.open {
      display: block;
      z-index: 4;
    }
    .drawer {
      z-index: 5;
      display: block;
      // hide to the right of the screen
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      max-width: 250px;
      height: 100%;
      background: rgb(2,0,36);
      background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,27,65,1) 100%);
      padding: 1rem;
      transition: right 0.5s;
      .close {
        text-align: right;
        font-size: 1.5rem;
        cursor: pointer;
      }
      div {
        margin: 1rem 0;
      }
      a {
        font-size: 1.2rem;
        i {
          padding-right: 1rem;
          width: 1.2rem;
        }
      } 
      
    }
    .drawer.open {
      right: 0;
    }
    .drawer-button {
      margin: auto 0 auto auto;
      display: block;
      cursor: pointer;
    }
  }
}

video {
  width: 80%;
  max-width: 700px;
}

h1 .name {
  font-size: 2.2rem;
  font-weight: 1000;
}

button.resume {
  background-color: #000099;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.3s;
  &:hover {
    background-color:#0000aa;
    transform: scale(1.03);
  }
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bio {
  text-align: left;
}


iframe {
  width: 100%;
  height: 80vh;
}