<nav>
    <div class="name">
        {{ if not ( eq "/" .RelPermalink) }}
        <a href="/">
            Jordan Mosakowski
        </a>
        {{ end }}
    </div>
    <div class="links" {{ if ( eq "/" .RelPermalink) }} center="true" {{ end }}>
        <a href="/about"><i class="fa-solid fa-user"></i>About Me</a> | 
        <a href="/resume"><i class="fa-solid fa-file"></i>Resume</a> | 
        <a href="/projects"><i class="fa-solid fa-laptop"></i>Hackathons & Projects</a> <br>
        <a href="/professional"><i class="fa-solid fa-briefcase"></i>Professional</a> | 
        <a href="/leadership"><i class="fa-solid fa-user-group"></i>Clubs & Leadership</a> | 
        <a href="/classes"><i class="fa-solid fa-graduation-cap"></i>Classes</a>
    </div>
    <div class="drawer-button">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="drawer-bg">
    </div>
    <div class="drawer">
        <div class="close"><i class="fa-solid fa-close"></i> </div>
        <div><a href="/"><i class="fa-solid fa-home"></i>Home</a></div>
        <div><a href="/about"><i class="fa-solid fa-user"></i>About Me</a></div>
        <div><a href="/resume"><i class="fa-solid fa-file"></i>Resume</a></div>
        <div><a href="/professional"><i class="fa-solid fa-briefcase"></i>Professional</a></div>
        <div><a href="/projects"><i class="fa-solid fa-laptop"></i>Hackathons & Projects</a></div>
        <div><a href="/leadership"><i class="fa-solid fa-user-group"></i>Clubs & Leadership</a></div>
        <div><a href="/classes"><i class="fa-solid fa-graduation-cap"></i>Classes</a></div>
    </div>
    <script>
        document.querySelector(".drawer-button").addEventListener("click", () => {
            document.querySelector(".drawer").classList.toggle("open");
            document.querySelector(".drawer-bg").classList.toggle("open");
        });
        document.querySelector(".close").addEventListener("click", () => {
            document.querySelector(".drawer").classList.toggle("open");
            document.querySelector(".drawer-bg").classList.toggle("open");
        });
    </script>

</nav>