<nav>
    <div class="name">
        <a href="/">
            Jordan Mosakowski
        </a>
    </div>
    <div class="links">
        <a href="/professional"><i class="fa-solid fa-briefcase"></i>Professional Experience</a>
        <a href="/projects"><i class="fa-solid fa-laptop"></i>Hackathons & Personal Projects</a>
        <a href="/leadership"><i class="fa-solid fa-user-group"></i>Clubs & Leadership</a>
        <a href="/classes"><i class="fa-solid fa-graduation-cap"></i>Classes</a>
    </div>
</nav>