{{ define "main" }}
    <main aria-role="main">
      <div class="index-header">
        <h1>Hi, I'm <span class="name">Jordan Mosakowski</span>!</h1>
        <h3>Software Engineer, Computing Enthusiast</h3>
        <div class="profile">
          <img class="profile-pic" src="profile.jpeg">
          <p class="bio">
            I currently work as a Software Engineer at Palantir, but previously held internships at Amazon, Lockheed Martin, and INRIX. 
            I recently graduated Summa Cum Laude from Santa Clara University with a B.S. in Computer Science and Engineering and minors in Mathematics and Electrical and Computer Engineering. 
            I also served as the President of our school's ACM chapter and Vice President of our EWB chapter. 
            Check out some of my notable experinces below, and don't hesitate to reach out if you want to chat!</p>
        </div>
        <!-- <button class="resume"><a href="/resume.pdf" target="_blank">Resume</a></button> -->
        <h2>Highlights</h2>
        {{ partial "gallery" . }}
      </div>
    </main>
{{ end }}